/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/* Root Variables */
:root {
    --text: #080707;
    --background: #fdfcfc;
    --primary: #909798;
    --secondary: #cacbce;
    --accent: #626a67;

    --h1-font-size: 3.052rem;
    --h2-font-size: 2.441rem;
    --h3-font-size: 1.953rem;
    --h4-font-size: 1.563rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;

    --ff-Main: 'Montserrat', sans-serif;
}

/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Light Theme */
:root[data-theme="light"] {
    --text: #080707;
    --background: #fdfcfc;
    --primary: #909798;
    --secondary: #cacbce;
    --accent: #626a67;
}

/* Dark Theme */
:root[data-theme="dark"] {
    --text: #f8f7f7;
    --background: #030202;
    --primary: #676e6f;
    --secondary: #313235;
    --accent: #959d9a;
}

/* Typography Styles */
html {
    color-scheme: light dark;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-family: var(--ff-Main);
    font-size: var(--h1-font-size);
    font-weight: 700; 
    color: var(--text);
}

h2 {
    font-family: var(--ff-Main);
    font-size: var(--h2-font-size);
    font-weight: 600; 
    color: var(--text);
}

h3 {
    font-family: var(--ff-Main);
    font-size: var(--h3-font-size);
    font-weight: 500; 
    color: var(--text);
}

h4 {
    font-family: var(--ff-Main);
    font-size: var(--h4-font-size);
    font-weight: 400; 
    color: var(--text);
}

h5 {
    font-family: var(--ff-Main);
    font-size: var(--h5-font-size);
    font-weight: 400; 
    color: var(--text);
}

h6 {
    font-family: var(--ff-Main);
    font-size: var(--h6-font-size);
    font-weight: 400;
    color: var(--text);
}

p {
    font-family: var(--ff-Main);
    font-size: var(--h6-font-size);
    font-weight: 400;
    color: var(--text);
}

