@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,900&display=swap');

/* Root Variables with Adjusted Fluid Type Scale */
:root {
    --h1-font-size: 3.052rem;
    --h2-font-size: 2.441rem;
    --h3-font-size: 1.953rem;
    --h4-font-size: 1.563rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;

    --ff-Main: 'Montserrat', sans-serif;

    --step--2: clamp(0.7813rem, calc(var(--h6-font-size) + 0.0326vw), calc(var(--h6-font-size) + 0.8rem));
    --step--1: clamp(0.9375rem, calc(var(--h5-font-size) + 0.1087vw), calc(var(--h5-font-size) + 1rem));
    --step-0: clamp(1.125rem, calc(var(--h4-font-size) + 0.2174vw), calc(var(--h4-font-size) + 1.25rem));
    --step-1: clamp(1.35rem, calc(var(--h3-font-size) + 0.3696vw), calc(var(--h3-font-size) + 1.5625rem));
    --step-2: clamp(1.62rem, calc(var(--h2-font-size) + 0.5793vw), calc(var(--h2-font-size) + 1.9531rem));
    --step-3: clamp(1.9438rem, calc(var(--h1-font-size) + 0.8652vw), calc(var(--h1-font-size) + 2.4413rem));
    --step-4: clamp(2.3325rem, calc(var(--h1-font-size) + 1.2511vw), calc(var(--h1-font-size) + 3.0519rem));
    --step-5: clamp(2.7994rem, calc(var(--h1-font-size) + 1.7663vw), calc(var(--h1-font-size) + 3.815rem));
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

/* Theme Styles */

:root[data-theme="light"] {
    /* Light Theme */
    --background: #ededed;
    --primary: #909798;
    --secondary: #f3f3f3;
    --accent: #fff242;
}

:root[data-theme="dark"] {
    /* Dark Theme */
    --background: #030202;
    --primary: #676e6f;
    --secondary: #313235;
    --accent: #fff242;
}

/* CSS for 3-column grid layout */
body {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr; 
}

main {
    grid-column: 2; 
}

img {
    max-width: 100%;
    display: block;
}

/* Typography Styles with Adjusted Fluid Type Scale */
h1 {
    font-family: var(--ff-Main);
    font-size: var(--step-3);
    font-weight: 900; 
    color: var(--text);
}

h2 {
    font-family: var(--ff-Main);
    font-size: var(--step-2);
    font-weight: 600; 
    line-height: 1.5;
    color: var(--text);
}

h3 {
    font-family: var(--ff-Main);
    font-size: var(--step-1);
    font-weight: 500; 
    line-height: 1.5;
    color: var(--text);
}

h4 {
    font-family: var(--ff-Main);
    font-size: var(--step-0);
    font-weight: 400; 
    line-height: 1.5;
    color: var(--text);
}

h5 {
    font-family: var(--ff-Main);
    font-size: var(--step--1);
    font-weight: 400; 
    line-height: 1.5;
    color: var(--text);
}

h6 {
    font-family: var(--ff-Main);
    font-size: var(--step--2);
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
}

p {
    font-family: var(--ff-Main);
    font-size: var(--step--2);
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
}

/*-----------------------------------------------ALL MAIN CODE STARTS BELOW-----------------------------------------------------------*/

/* Navbar */
ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font-family: var(--ff-Main);
    font-size: var(--h5-font-size);
    font-weight: bold;
    margin-right: 20px;
    color: var(--text);
}

.item {
    margin-right: 20px;
}

.menu a {
    font-family: var(--ff-Main);
    font-size: var(--p-font-size);
    text-decoration: none;
    color: inherit;
    transition: font-weight 0.3s ease; 
}

.menu a:hover {
    font-weight: 500;
}

/* Hero Section */
.hero {
    background-color: var(--accent);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh; 
}

/* About Section */
.about {
    display: flex;
    text-align: center;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: auto;
}

.about-copy {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 50px;
    background-color: var(--secondary);
}

.about-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: var(--primary);
    background-size: cover;
    padding: 20px;
    width: 33.33vw;
    height: 100%;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-copy {
        order: 1;
    }

    .about-side {
        width: auto;
    }
}

/*Services section*/

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    height: 50vh;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.services-container .grid-item:nth-child(1) {
    background-color: var(--accent); 
}

.services-container .grid-item:nth-child(2),
.services-container .grid-item:nth-child(3),
.services-container .grid-item:nth-child(4),
.services-container .grid-item:nth-child(5),
.services-container .grid-item:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('Assets/374.jpg');
    background-size: cover;
    color: var(--secondary);
}

/* Media query for Services section*/
@media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: 1fr; 
        height: auto; 
    }
}

/* Contact Section */
.contact {
    display: flex;
    text-align: center;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.contact-copy {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 50px;
    height: 100%;
}

.contact-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
    }
}

/* Footer */
footer {
    display: grid;
    grid-column: 2; 
    background-color: var(--accent); 
    padding: 10px 0; 
    text-align: center; 
}